body {background: linear-gradient(to right, #81D080, #4EB888);}
p {font-family: fantasy, Arial, Helvetica, Sans-Serif;}
img {border-radius: 50%;
width: 150px; height: 120px;}
header {border-bottom: 1px solid black;
color: black;}
div img {margin-left: 9.5em;}
img {border-radius: 50%; width: 170px; height: 160px;}
a {text-decoration: none; color: currentcolor;}
div a {color: blue;}
.alin {text-align: center;}
.alin a {color: currentcolor;}
.p1 {color: red; text-shadow: 1px 1px 1px black;}
.for {font-family: fantasy;}
@media (min-width: 1000px) {
  img {width: 300px; height: 290px;}
p {font-size: 30px;}
}